<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Review - {{bookData.volumeInfo.title }}</title>
		{{> head}}
	</head>
	<body>
		{{> navigation}}
		<h1>Book Review For - {{bookData.volumeInfo.title }}</h1>
		<div class="container-fluid">
			<div id="bookContainer">
						<div class="row-fluid">
							<div class="span12">
							<a href="{{bookData.volumeInfo.previewLink }}">{{bookData.volumeInfo.title }}</a>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span12">
								<img alt="" src="{{bookData.volumeInfo.imageLinks.thumbnail }}">
							</div>
						</div>
						<div class="row-fluid">
							<div class="span12">
							{{{bookData.volumeInfo.description }}}
							</div>
						</div>
			</div>
			<div id="messagesContainer">
				
			</div>
			<div id="newMessageContainer"></div>
		</div>
	</body>
</html>
